__pycache__/
*.py[cod]
*$py.class

*.so

.Python
env/
venv/
ENV/
.env
.venv
*.egg-info/
*.egg
build/
dist/

pip-log.txt
pip-delete-this-directory.txt

.python-version

.env
.env.*

uv.lock

.idea/
.vscode/
*.swp

.DS_Store
.AppleDouble
.LSOverride

*.log
*.out
*.err